<div id="fullscreenContainer">
  <div id="contentContainer">
    <div id="salutation">Paul && Jim && Ian && Adam || All of Team Sphero,</div><br>
    <div id="opener">If I make it to the end of my life and haven’t held the professional title of ‘Hacker/Maker’
      <br>something surely must have gone very very wrong…
    </div>
    <div id="letter">
      <p>
        Hi, my name is Nico Andruzzi and I would love the opportunity to be considered for this role.
        After I saw the job description for the first time this past Friday, I immediately drove up to Boulder hoping to drop off my resume in person and to learn anything I could about Sphero's culture and/or work environment.
        To my pleasant suprise, I ran into one of the game designers, Darby, and had my suspicions confirmed before I even got inside the building... "Sphero is an awesome place to work".
        I then re-introduced myself to Nicole, who I had previously met at Boulder start-up week, and she was kind enough to answer all of my questions and even give me a tour of the (amazing) office.
        Everyone had smiles on their faces, amazingly cool things on thier screens (I signed the NDA), and the developers were in the middle of an engaging stand-up.
        I loved everything about it, but truth be told, I was convinced that I wanted to be a part of the Sphero Team when I saw one of the first things that Nicole had pointed out, which was the wall of thank yous from the children who have been impacted by your creations.
      </p>
      <p>
        In Brooklyn I went to a specialized high school for the sciences, and there I took two elective classes that completely changed my life... Robotics I & II.
        We learned on lego-mindstorm, starting with ladder logic and eventually working our way up to typed code.
        Very similar to the way the SPRK Lightning Lab app works!
        I never had so much fun in a class before, and I was accomplishing so much, while never really feeling like I was doing any 'work' at all.
        Eventually my teacher (Mr. Reilly <3) had contacted my parents and explained that he was being forced to create new curriculum to be able to keep up with my thirst for bigger and more complicated challenges.
        I concluded that course creating a six legged 'spider-bot' I called the Eclipse-Bot which had a solar panel and photoresistors and was programmed to always walk towards a flashlight and only stop if it was underneath the light and charging.
        I had never been more proud of anything in my life and it immediately set me on a path of continuous growth in electro-mechanical engineering and programming, which has been the most prevalant factor in me becoming the man that I am today.
        All I could think of when I saw that wall was how badly I want to be a part of a team that is giving what Mr. Reilly gave me to a whole generation of children across the world.
        If I had the chance to contribute to a team that inspired even just one kid to walk down the path that I have, I would be estatic.
        I can think of no greater purpose in life, and no better reason to wake up and go to work in the morning.
      </p>
      <p>
        As for what I feel I can contribute to Sphero, my list is almost exactly as long as your list of desired skills.
        I pride myself on my ability to build the coolest things I can imagine.  Since the Eclipse-Bot some of those creations have been:
        <li>A door's deadbolt that unlocks with the correct absolute timing of a secret programmable knock</li>
        <li>A flower pot with a solar panel and motor which rotates the base proportional to how sunny it is so that your plants grow perfectly vertical</li>
        <li>Connecting the Galvanize ping pong table to the internet so people know when the table is being used from elsewhere in the building</li>
        <li>And many many more!</li>
      </p>
      <p>
        I was also the lead engineer for a product's full development cycle in my previous role for a medical robotics company.
        There, the general scope, bill of materials, and stakes were all much grander than the projects I just mentioned.
        I had a Fortus 250 (3D printer) all to myself for three full years and am well veresed in layering plastic into cool and complicated structures.
        My experience in programming mainly comes from Galvanize where we learned web-development and was exposed to Java, C# and Swift iOS development.
        While I don't claim to have mastery in those languages (as we focused mostly on the MEAN stack), I am very familiar with OOP and was able to create a basic Unity 2D game in C# with two classmates as a side project.
        Also, and perhaps most importantly about me... I LOVE TO LEARN, and am very good at it too!
        Based on my proven experience with Galvanize's immersive program, I am confident that I could very quickly be up and running with whichever languages and/or frameworks are currently being used by the team.
      </p>
      <p>
        Please scroll to the bottom of this page after you have read this paragraph as I have one more thing to say at the bottom.
        I appreciate you taking the time out of your busy schedule to read this cover letter.
        I hope you have a wonderful day!
      </p>
      <div id="close">
        - Nico Andruzzi
      </div>
      <div id="footer">
        <p>
          P.S.  As soon as I left the parking lot on Friday I went out and bought myself a SPRK+ so I could see what type of experience you guys have created for your users.
          Regardless of the outcome of this job inquiry, I want you to know from one nerd to (likely) another...
          I am amazed with what you have been able to create.
        </p>
        <br>
        <p>
          Lastly, I can only imagine how hard recruiting is when you are trying to preserve the quality of collective culture I got to see in your office on Friday.
          Hopefully one last sentence from me and Astro will make a very tough decision just a little bit easier...(below)
        </p>
      </div>
      <img src="images/astrosRun.jpg" alt="astrosRun"/>
    </div>
  </div>
</div>
