<div id="fullscreenContainer">
  <div id="contentContainer">
    <div id="salutation">Paul && Jim && Ian && Adam || All of Team Sphero,</div><br>
    <div id="opener">If I make it to the end of my life and haven’t held the professional title of ‘Hacker/Maker’
      <br>something surely must have gone very very wrong…
    </div>
    <div id="letter">
      <p>
        Hi, my name is Nico Andruzzi and I would love the opportunity to be considered for this role.
        After I saw the job description for the first time this past Friday, I immediately drove up to Boulder hoping to drop off my resume in person and to learn anything I could about Sphero's culture and/or work environment.
        To my pleasant suprise, I ran into one of the game designers, Darby, and had my suspicions confirmed before I even got inside the building... "Sphero is an awesome place to work".
        I then re-introduced myself to Nicole, who I had previously met at Boulder start-up week, and she was kind enough to answer all of my questions and even give me a tour of the (amazing) office.
        Everyone had smiles on their faces, amazingly cool things on thier screens (I signed the NDA), and the developers were in the middle of an engaging stand-up.
        I loved everything about it, but truth be told I was convinced I wanted to be a part of Sphero at one of the first things Nicole pointed out, which was the wall of thank yous from the children who have been impacted by your creations.
      </p>
      <p>
        In Brooklyn I went to a specialized high school for the sciences, and there I took two classes that completely changed my life... Robotics I & II.
        We learned on lego-mindstorm, starting with ladder logic and eventually working up to typed code.
        Very similar to the way the SPRK Lab app works!
        I never had so much fun in a class before, and I accomplished so much while having never actually seemed to 'work'.
        Eventually my teacher (Mr. Reilly <3) had contacted my parents and explained that he was being forced to create new curriculum to keep up with my thirst for bigger and more complicated challenges.
        I concluded that course creating a solar powered spider-bot I called the "Eclipse-Bot" which had a solar panel and photoresistors and was programmed to walk towards a flashlight and stop and charge if it was underneath it.
        I had never been more proud of anything in my life and it immediately set me on my path of electro-mechanical engineering and programming that has made me the man I am today.
        All I could think of when I saw that wall was how badly I want to be a part of a team that is giving what Mr. Reilly gave me to a whole generation of children across the world.
        If I had the chance to contribute to a team that inspired even just one kid to walk down the path I have, I would be estatic.
        I can think of no greater purpose, and no better reason to wake up in the morning.
      </p>
      <!-- <p>

      </p> -->
      <div id="close">
        - Nico Andruzzi
      </div>
    </div>
  </div>
</div>
