<div id="fullscreenContainer">
  <div id="contentContainer">
    <div id="salutation">Paul && Jim && Ian && Adam || All of Team Sphero,</div><br>
    <div id="opener">If I make it to the end of my life and haven’t held the professional title of ‘Hacker/Maker’
      <br>something surely must have gone very very wrong…
    </div>
    <!-- <div id="letter">
      <p>
        Hi, my name is Nico Andruzzi and I would love the opportunity to be considered as the next member of your team.
      </p> -->
    <!-- </div> -->
  </div>
</div>
